<h1>Priced for Results</h1>
<p>Great exposure for your job opening. Prices start at $99. Trusted by companies big and small throughout Loudoun County.</p>

<table>
  <thead>
    <tr>
      <th>Job Type</th>
      <th>Price</th>
      <th>Duration</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Full-time</td>
      <td>$249</td>
      <td>60 days</td>
      <td>Salaried position, typically 40 hours a week</td>
      <td><%= link_to "Post Now", "#" %></td>
    </tr>
    <tr>
      <td>Contract</td>
      <td>$249</td>
      <td>60 days</td>
      <td>Temporary position, usually 40 hours a week</td>
      <td><%= link_to "Post Now", "#" %></td>
    </tr>
    <tr>
      <td>Part-time</td>
      <td>$149</td>
      <td>30 days</td>
      <td>Typically 10&ndash;35 hours a week, usually on-site</td>
      <td><%= link_to "Post Now", "#" %></td>
    </tr>
    <tr>
      <td>Freelance</td>
      <td>$149</td>
      <td>30 days</td>
      <td>Shorter-term work, usually remote (off-site)</td>
      <td><%= link_to "Post Now", "#" %></td>
    </tr>
    <tr>
      <td>Moonlighting</td>
      <td>$99</td>
      <td>30 days</td>
      <td>Work that can be done in the evenings &amp; weekends</td>
      <td><%= link_to "Post Now", "#" %></td>
    </tr>
    <tr>
      <td>Internship</td>
      <td>$99</td>
      <td>30 days</td>
      <td>On-the-job training</td>
      <td><%= link_to "Post Now", "#" %></td>
    </tr>
  </tbody>
</table>


<h3>100% Satisfaction guaranteed.</h3>
<p>If you’re not 100% satisfied with the results from your listing, request a free reposting or a full refund within the first 30 seconds after your listing expires. We'll have our intern raid the change jar and bring cash to your door.</p>

<h3>Statistically speaking.</h3>
<p>Wanna know if people are interested in working for you? We give you the data for your listings, such as views, clicks on the ‘Apply’ button, referral sources, and so on. Much data. Very informative.</p>

<h3>Email this page.</h3>
<p>Don't have the clout for a company charge card? Grab the <%= link_to "PDF version", "#" %> of this page and pass it along to someone who's got more status.</p>

<h3>Flexible payment options.</h3>
<p>We accept Pan Am Frequent Flyer Points, Enron Credit Union MasterCard, Bear Stearns Visa and Lehman Brothers Diners Club. Your job will be live immediately after payment.</p>

<h3>Invoicing? No problem.</h3>
<p>If you’d prefer to be invoiced and pay by check rather than by credit card, please <%= link_to "get in touch", "#" %> and we'll be happy to tutor you on the benefits of banking in the modern age. It’s painless!</p>

<h3>Education &amp; non-profit rates.</h3>
<p>We’re big fans of educational institutions and Mac users. <%= link_to "Inquire", "#" %> for handsomely discounted rates.</p>

<h3>Post more and save.</h3>
<p>Have more than one listing to post? You’re in luck. We’ve got a discount just for you.</p>

<table>
  <tbody>
    <tr>
      <td>2 Listings</td>
      <td>10% off</td>
      <td>Applied to your cart automatically</td>
    </tr>
    <tr>
      <td>3&ndash;4 Listings</td>
      <td>15% off</td>
      <td>Applied to your cart automatically</td>
    </tr>
    <tr>
      <td>5 or More Listings</td>
      <td>20% off</td>
      <td>Applied to your cart automatically</td>
    </tr>
    <tr>
      <td>Bulk Listings</td>
      <td>(Varies)</td>
      <td><%= link_to "Contact us", "#" %>  for a quote</td>
    </tr>
  </tbody>
</table>
